<div class="main">
<img class="summary-img" src={{this.imageUrl}}>
<ul class="summary-list">
  <li>You have {{this.personality}}</li>
  <li>You need {{this.needs}}</li>
  <li>You value {{this.values}}</li>
</ul>
<p class="left">{{this.summary}}</p>
<a href='/socks' class='enter-btn'> This isn't me!!! </a>
</div>
